<div>
    <ul>
      <li> 
      <span (click)="toggle()" ><i class="fa fa-minus-square-o" aria-hidden="true" [hidden]="!flag"></i>
      <i class="fa fa-plus-square-o" aria-hidden="true" [hidden]="flag"></i></span> &nbsp;
      <span [hidden]="flag"><i class="fa fa-folder-o" aria-hidden="true"></i></span>
      <span [hidden]="!flag"><i class="fa fa-folder-open-o" aria-hidden="true"></i> </span>&nbsp; Herbs and Spices
    <ul *ngIf="flag">
      <li>Herbs and Spices works</li>
    </ul>
    </li>
    </ul>
    </div>
